@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --background-secondary: #e7e7e7;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background-secondary);
  font-family: Arial, Helvetica, sans-serif;
}

.color {
  color: var(--foreground);
}
.color-inverse {
  color: var(--background);
}
